
<h1>List of All Jobs</h1>


<h3><%= link_to ("Create NEW JOB"), new_job_path %></h3>
<hr>

<% @all_jobs.each do |job| %>


Job Name: <%= job.name %> <br>
Description: <%= job.description %> <br>
Origin: <%= job.origin %> <br>
Destination: <%= job.destination %> <br>
Cost: <%= job.cost %> <br>
Containers Needed: <%= job.amount_containers %> <br>


<br><br>

<%= link_to ("Job Details"),job_path(job.id) %> ||
<%= link_to 'Delete Job',  { action: :destroy, id: job.id }, method: :delete %>
<hr>

<% end %>


<%= @job_assigned %>
