<h1>Add A New Job</h1>


<%= form_for Job.new do |f| %>

  <%= f.label "Name of Job" %>:
  <%= f.text_field :name %> <br><br>

  <%= f.label :description %>:
  <%= f.text_field :description %> <br><br>


  <%= f.label "Origin location" %>:
  <%= f.select :origin, ["Bermuda", "India", "Miami", "New York City", "Panama", "Trinidad", "Hong Kong", "Thailand", "London", "Australia", "Fiji"], prompt: :select %><br><br>

  <%= f.label "Destination location" %>:
  <%= f.select :destination, ["Bermuda", "India", "Miami", "New York City", "Panama", "Trinidad", "Hong Kong", "Thailand", "London", "Australia", "Fiji"], prompt: :select %><br><br>

  <%= f.label "Cost: $" %>
  <%= f.text_field :cost %> <br><br>

  <%= f.label "Amount of containers" %>:
  <%= f.select :amount_containers, (1..100), prompt: :select %> <br><br>

  <!-- <%= f.label "Boat Name" %>:
  <%= collection_select :boats_jobs, :boat_id, Boat.all, :id, :name %><br><br> -->


  <p><b>Select Boats For This Job:</b></p>
  <% @boats_arr.each do |boat| %>
    <%= check_box_tag "boat[boat_ids][]", boat.id %>
    <%= f.label boat.name %>
    <br>
  <% end %>




<br>

  <%= f.submit %>
<% end %>
