
<h1>JOB INFO</h1>
<h4>
Job Name: <%= @job.name %><br>
Description: <%= @job.description%><br>
Origin: <%= @job.origin%><br>
Destination: <%= @job.destination%><br>
Cost: $<%= @job.cost%><br>
Containers Needed: <%= @job.amount_containers%><br>
</h4>

<hr>

<h3>All Boats Assigned To This Job:</h3>

<% @boat_job_ids = [] %>

<h4><% @job.boats.each do |boat| %>
 <% @boat_job_ids << boat.id %><br>
Boat Name: <%= boat.name %><br>
Location: <%= boat.location%><br><br>
<%= image_tag boat.avatar.url%>

<br>

<div class="links">
||<%= link_to ("boat show page"), boat_path(boat.id) %>
||<%= link_to ("boat edit page"), edit_boat_path(boat.id) %>
||<%= link_to 'Delete boat',  { action: :destroy, id: boat.id }, method: :delete %>||
<hr>
</div>
<% end %>
</h4>



<h3>All Boats Not Assigned To This Job:</h3>


<% @all_boat_ids = [] %>

<% @boats.each do |boat| %>
  <% @all_boat_ids << boat.id %>
<% end %><br>


<% @final_arr = @all_boat_ids-@boat_job_ids%>

<% @final_arr.each do |t|%>
  Boat Name: <%= Boat.find(t).name %><br>
  Containers: <%= Boat.find(t).containers %><br>
  Location: <%= Boat.find(t).location %><br><br><hr>
<% end %>













<!-- -->
