
<h1>JOB INFO</h1>
<hr>

Name: <%= @job.name %><br>
Description: <%= @job.description%><br>
Origin: <%= @job.origin%><br>
Destination: <%= @job.destination%><br>
Cost: <%= @job.cost%><br>
Containers Needed: <%= @job.amount_containers%><br>


<hr>

<h1>All Boats Assigned To This Job:</h1>
<br>
<% @job.boats.each do |boat| %>
Name: <%= boat.name %>
<hr>
<% end %>
