<!-- <h1>show page for company</h1> -->
<h1><%= @company.name %>'s Profile</h1>

<h4><% @company.id %>
Name: <%= @company.name %><br>
Address: <%= @company.address %><br>
Email: <%= @company.email %><br>
Member Since: <%= @company.created_at.strftime(" %B %d, %Y")%>
</h4>

<br>
<%= link_to "[Edit My Account]", edit_company_path(@company) %>
<hr>

<!-- this is where image tage will be  -->

	<%= link_to "Create Boat", new_boat_path %> <br>

	<hr>

	<h4><div>Boats Needed by <%= @company.name %>:</div></h4>








	<% @company.boats.each do |boat| %>
		<p><b>Boat Name:</b> <%= boat.name %></p>
		<p><b># of Containers:</b> <%= boat.containers %></p>
		<p><b>Current Location:</b> <%= boat.location %></p>
		<p><b>Boat Owner:</b> <%= boat.company.name %></p>

		<br>
			<%= link_to "Show Details", boat_path(boat) %>
		<!-- User can only edit / delete boats on their own profile page -->
		<% if @company == current_company %>

			<%= link_to "Edit Boat", edit_boat_path(boat) %>

			<%= link_to "Delete Boat", boat, method: :delete %>
			<hr>
		<% end %>
	<% end %>
