
<h1>new page for boats</h1>

<%= form_for Boat.new do |f| %>
  <%= f.label "name of boat" %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label "Number of Containers" %><br>
  <%= f.text_field :containers %><br><br>

  <%= f.label "current location" %><br>
  <%= f.select :location, ["Bermuda", "Dakar", "Miami", "New York City", "Panama", "Trinidad"], prompt: :select %><br><br>

  <%= f.label :company %><br>
  <%= f.collection_select :company_id, Company.all, :id, :email %><br>

  <%= f.file_field :avatar %>
  <br><br>

  <%= f.submit "Submit New Boat"%>
<% end %>
