

<h1><%= @boat.company.name %>'s Boats</h1>


  <p><b>Boat Name:</b> <%= @boat.name %></p>
	<p><b># of Containers:</b> <%= @boat.containers %></p>
	<p><b>Location:</b> <%= @boat.location %></p>
	<p><b>Boat Owner:</b> <%= @boat.company.name %></p>

  <% if @boat.company == current_company %>
		<%= link_to "Edit Boat", edit_boat_path(@boat) %>
		<%= link_to "Delete Boat", @boat, method: :delete %>
		<hr>
	<% end %>
  <%= image_tag @boat.avatar.url(:thumb) %>
  <hr>
