

<h1><%= @boat.company.name %>'s Boats</h1>


<h3>[ Name of Boat ]</h3>
<h4><%= @boat.id %>.
<%= @boat.name %></h4>

<h3>[ Number of containers ]</h3>
<h4><%= @boat.containers %></h4>

<br>

<h4>[ From ]:</h4>
<h4><%= @boat.company.name %></h4>

<hr>
